.addItem-data {
  background-color: #121212;
  justify-content: center;
  align-content: start;
  max-width: 505px; 
  margin: 0 auto; 
  border: 2px solid white; 
  min-height: calc(100vh - 15vh);
  color: white;
}