.health-data {
    background-color: #121212;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    justify-content: center;
    align-content: start;
    max-width: 505px; 
    margin: 0 auto; 
    border: 2px solid white; 
    min-height: calc(100vh - 16vh); 
  }
  
  .health-item {
    color: white; 
    border: 2px solid white; 
    min-height: calc(100vh - 58vh);
  }
  
  .health-data > .health-item:first-child {
    grid-column: 1 / -1; 
  }
  
  .health-item h2 {
    text-align: center;
  }
  
  .graph-placeholder {
    background-color: #333; 
    height: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .health-item.sleep p {
    text-align: center;
  }
  
  .health-item.sleep {
    grid-column: span 1;
  }
  
  .health-item h2, .health-item p {
    color: white;
  }
  