.search-page {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto; 

    justify-content: center;
    align-content: start;
    max-width: 541px; 
    margin: 0 auto; 
    border: 2px solid white; 
    min-height: calc(100vh - 14vh);
  }
  
  .search-section {
    width: 100%;
    margin-bottom: 40px;
    color: white;
  }
  
  .search-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: white;
  }
  
  .search-interesting-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .trending-topics{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto); 
    grid-gap: 10px; 
    justify-content: center; 
    padding: 20px;
  }
  
  .search-item {
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    width: 100%; 
    box-sizing: border-box; 
    text-align: center;
  }
  .search-question{
    padding: 20px;  
  }

  .search-question a {
    color: white;
  }

  .search-question a:active {
    color: red;
  }


  .trending-item {
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    width: 100%; 
    box-sizing: border-box; 
    text-align:center;
    min-height: 80px;
  }
  
  .section-divider {
    width: 100%;
    border: 0;
    border-top: 1px solid white;
    margin: 20px 0;
  }
  