.footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px; 
    margin: 0 auto; 
    width: 100%;
}
  
  .footer-item {
    color: white;
    font-size: 24px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex: 1; 
  }