.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    background-color: black;

    justify-content: center;
    align-content: start;
    max-width: 500px; 
    margin: 0 auto; 
    border: 2px solid white; 
    min-height: calc(100vh - 19vh);
  }
  
  .photo-placeholder {
    background-color: #ddd;
    border-radius: 50%; 
    width: 120px; 
    height: 120px; 
    margin-bottom: 20px;
  }
  
  h1, h2, h3 {
    color: white;
    margin: 5px 0;
  }